.select-p{
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
}
.form-select{
width: 100px;
height: 40px;
margin-top: 7px;  


}
.select-p > p{
padding-top: 15px;
}
#enviar{
    margin-left: 80%;
}
